.view-more {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #4DB6AC;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.view-more:hover {
  background-color: #009688;
  color: white;
  text-decoration: none;
}